@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    /* --padding-container: 100px 0; */
    --color-title: #001A49
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    background-color: #F2FF00;
    scroll-behavior: smooth;
}

/* barra de navegacion */
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
}

/* scroll sombra barra de navegacion */
.nav--on {
    background: rgba(0, 0, 0, .7);
    height: 100px;
    transition: .3s ease-in-out;
    z-index: 9;
}

.nav__container {
    width: 90%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, .3); */

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9;

    margin: 0 auto;
}

.nav__logo img {
    width: 180px;
    position: relative;
}

.nav__logo2 img {
    display: none;
    width: 180px;
}


.nav__link {
    display: flex;
    list-style: none;
    position: relative;
}

.nav__link a {
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
}

.nav__menu {
    font-size: 20px;
    display: none;

}

.nav__menu--close {
    font-size: 20px;
    display: none;
    z-index: 99999;
}

.nav__subscribe {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: red;
    font-weight: 600;
    display: none;
    position: absolute;
    left: 180px;
    transition: .1s ease-in-out;

}

.nav__avatar {
    border-radius: 50%;
    height: 54px;
    object-fit: cover;
    object-position: center;
    width: 54px;
    position: absolute;
    right: 80px;
}








/* Iglesia Cards */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

.iglesia__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    /* background: cornflowerblue; */
}

.iglesia__container--card {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin: 10em auto;

    /* background: rgb(83, 52, 220); */
}

.iglesia__card {
    width: 60%;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    border-radius: 8px;
    margin: 20px auto 20px;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, .3); */
    -webkit-box-shadow: 10px 11px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 15px -4px rgba(0, 0, 0, 0.75);
    background-size: cover;
}

.iglesia__titulo {
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}

.iglesia__card--uno {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 85%), url(/imagenes/presencial.jpg);
    background-position: center;
    background-size: cover;
}

.iglesia__card--dos {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 85%), url(/imagenes/online.jpg);
    background-position: center;
    background-size: cover;


}

.iglesia__card--tres {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 85%), url(/imagenes/extendimosMesa\ de\ trabajo\ 12\ \(1\).png);
    background-position: center;
    background-size: cover;
}

.iglesia__card--cuatro {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 85%), url(/imagenes/larevolucionz.jpg);
    background-position: center;
    background-size: cover;

}

.iglesia__card--cinco {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 85%), url(/imagenes/merch.jpg);
    background-position: center;
    background-size: cover;
}

.iglesia__card--seis {
    background-color: blueviolet;
}

.iglesia__card--siete {
    background-color: blueviolet;
}

.iglesia__card--ocho {
    background-color: blueviolet;
}

/* footer */

footer {
    width: 100%;
    height: 15em;
    position: relative;
    /* background: url(/imagenes/footer2.png); */
    background: url(/imagenes/footer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__contenedor {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;


    display: flex;
    align-items: center;
    justify-content: stretch;
    text-align: center;







}

.footer__contenedor p {
    margin: 20px auto;
    font-size: 14px;
    font-weight: 600;
    color: white;
    z-index: 0;
    text-align: center;


}



/* media querys */
/* TabE Samsung */
@media screen and (max-width: 820px) {


    .nav__menu {
        display: block;
    }

    .nav__menu img {
        width: 30px;
        cursor: pointer;
    }

    .nav__link--menu {
        position: fixed;
        background: red;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 0;
        margin: 0;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        opacity: 0;
        pointer-events: none;
        transition: .2s opacity;


    }

    .nav__link--menu a {
        color: white;
        font-size: 25px;
        z-index: 9999;
    }

    .nav__avatar {
        display: none;
    }



    .iglesia__container--card {
        margin: 7em auto;
    }

    .iglesia__card {
        width: 80%;
        height: 22vh;
    }


}

/* A20 Samsung */
@media screen and (max-width: 424px) {

    .iglesia__card {
        width: 80%;
        height: 22vh;
    }

    .nav__logo {
        padding: 0;
        margin-left: -20px;
    }

    .nav__subscribe {
        font-size: 10px;
        left: 160px;
    }
}