@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    /* --padding-container: 100px 0; */
    --color-title: #001A49
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2FF00;
}

.nav {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
}

.nav__container {
    width: 90%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, .3); */

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9;
   
    margin: 0 auto;
}

.nav__logo img {
    width: 170px;
  
}

.nav__link {
 
    display: flex;
    list-style: none;

}

.nav__links {
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
    color: black;

}

.nav__menu {
    display: none;
}

.nav__menu--close {
    display: none;
}




/* Iglesia Cards */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* padding: var(--padding-container); */
    /* background: rgb(62, 150, 158); */

    /* background: darkcyan; */
}

.iglesia__container {
    width: 100vw;
    /* background: rgb(65, 166, 220); */
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));

    align-items: center;
    justify-content: center;
  

    /* background: cornflowerblue; */
}

.iglesia__container--card {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin: 10em auto ;

    /* background: rgb(83, 52, 220); */
}

.iglesia__card {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    border-radius: 8px;
    margin: 20px auto 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
    background-size: cover;
}

.iglesia__titulo {
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}

.iglesia__card--uno {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3)39%, rgba(0, 0, 0, 1) 80%), url(/imagenes/presencial.jpg);
    background-position: center;
    background-size: cover;
}

.iglesia__card--dos {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 39%, rgba(0, 0, 0, 1) 80%), url(/imagenes/online.jpg);
    background-position: center;
    background-size: cover;
}

.iglesia__card--tres {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 39%, rgba(0, 0, 0, 1) 80%), url(/imagenes/extendimosMesa\ de\ trabajo\ 12\ \(1\).png);
    background-position: center;
    background-size: cover;
}



/* media querys */
/* TabE Samsung */
@media screen and (max-width: 820px) {

 
    .nav__menu {
        display: block;

     
    }

    .nav__menu img {
        width: 30px;
        cursor: pointer;
    }

    .nav__link--menu {
        position: fixed;
        background: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__links {
        color: white;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        width: 40px;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .iglesia__container--card {

        margin: 7em auto ;
    
     
    }

    .iglesia__card {
        width: 80%;
        height: 22vh;
    }


}

/* A20 Samsung */
@media screen and (max-width: 424px) {
    
    .iglesia__card {
        width: 90%;
        height: 22vh;
    }
}